#https://developer.twitter.com/en/portal/dashboard
keys = ["twitter_consumer_key", "Twitter_consumer_secret","twitter_access_token", "twitter_access_secret"]

#APi need to be able to query funds and Create & Modify Orders
#https://www.kraken.com/u/security/api
kraken_keys = ["Kraken_API_KEY","Kraken_Private_Key"]
